{% extends "base.html.jinja" %}
{% block content %}
    <form action="{{url_for('extract')}}" method="POST">
    <div class="mb-3">
        <label for="product_id" class="form-label">Kod produktu</label>
        <input type="text" class="form-control-plaintext" id="product_id" value="product_id">
    </div>
    <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
    </div>
    </form>