{% extends "layout.html.jinja" %}
{% block content %}
    <ul class="kist-group">
        {% for product in products %}
            <a href="{{url_for('product', product_id=product)}}">{{product}}</a>
        {% endfor %}
{% endblock %}